.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    padding: 20px;
    background: #fff9;
    border-radius: 10px;
    transition: background 0.3s;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px #616161;
    margin: 20px;
    max-height: max-content;
    align-items: center;
    backdrop-filter: blur(2px);

    h2 {
        color: black;
        font-size: 18px;
    }


    &.dark {
        color: rgb(169, 169, 169);
        background: #0009;
        box-shadow: 1px 1px 4px #363636;
    }

    &.dark h2 {
        color: white;
    }


    .category {
        font-size: 14px;
        transition: margin 0.3s;
        margin: 2px 20px;
        padding: 2px;
        max-width: 300px;
        min-width: 120px;
    }

    .category a {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 50px;
        border: 1px solid;
    }

    .category:hover:not(.active) {
        color: black;
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.3s;
        font-weight: bold;
    }

    .category.active {
        background: black;
        border-radius: 50px;
        color: white;
        font-weight: bold;
        margin: 2px 0;
    }

    &.dark .category:hover:not(.active) {
        color: white;
    }

    &.dark .category.active {
        background: white;
        border-radius: 50px;
        color: black;
    }

    @media (max-width: 1024px) {
        gap: 18px;
        max-height: 60px;
        overflow: hidden;
        transition: max-height 0.3s;

        &:hover, &:active {
            max-height: 500px;
        }
    }

    @media (min-width: 1024px) {
        margin-left: -20px;
        max-width: 200px;
    }
}